<div class="ryf-roll initiative-roll">
  <div class="roll-header">
    <img src="{{actor.img}}" alt="{{actor.name}}" class="actor-image"/>
    <div class="roll-title">
      <h3>{{localize "RYF.Initiative"}}</h3>
      <div class="roll-subtitle">{{actor.name}}</div>
    </div>
  </div>

  {{#if wounded}}
  <div class="wounded-indicator">
    <i class="fas fa-heart-broken"></i>
    <strong>{{localize "RYF.States.wounded"}}</strong>
  </div>
  {{/if}}

  <div class="roll-formula">
    <span class="formula-part">{{localize "RYF.InitiativeBase"}}: {{initiativeBase}}</span>
    {{#if (gt hindrance 0)}}
    <span class="formula-separator">-</span>
    <span class="formula-part hindrance-penalty">{{localize "RYF.Hindrance"}}: {{hindrance}}</span>
    {{/if}}
    <span class="formula-separator">+</span>
    <span class="formula-part dice-part">
      {{diceRoll.chosen}}
    </span>
  </div>

  <div class="dice-results">
    <div class="dice-pool">
      {{#each diceRoll.sorted as |die index|}}
        <div class="die d10 {{#if (eq index diceRoll.chosenIndex)}}chosen{{/if}}">
          <i class="fas fa-dice-d10"></i>
          <span class="die-value">{{die}}</span>
        </div>
      {{/each}}
    </div>

    {{#if diceRoll.exploded}}
    <div class="explosions">
      <i class="fas fa-burst"></i> {{localize "RYF.Exploded"}}:
      {{#each diceRoll.explosions as |explosion|}}
        <span class="explosion-value">+{{explosion}}</span>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <div class="roll-total">
    <div class="total-label">{{localize "RYF.Total"}}</div>
    <div class="total-value">{{total}}</div>
  </div>
</div>

