<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header spell-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="48" width="48"/>
    <div class="header-fields">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'RYF.EquipmentName'}}" class="spell-name-input"/>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">{{localize "RYF.Tabs.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "RYF.Tabs.Effects"}}</a>
    <a class="item" data-tab="description">{{localize "RYF.Tabs.Description"}}</a>
  </nav>

  <section class="sheet-body">

    <div class="tab description" data-group="primary" data-tab="description">
      <div class="editor-content">
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </div>

    <div class="tab details" data-group="primary" data-tab="details">
      
      <div class="form-group">
        <label>{{localize "RYF.Quantity"}}</label>
        <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" min="0"/>
      </div>

      <div class="form-group">
        <label>{{localize "RYF.Weight"}}</label>
        <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" min="0" step="0.1"/>
      </div>

      <div class="form-group">
        <label>{{localize "RYF.Equipped"}}</label>
        <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
      </div>

    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      <div class="effects-header">
        <h3>{{localize "RYF.Magic.ItemEffects"}}</h3>
        <button type="button" class="effect-add" title="{{localize 'RYF.Magic.AddEffect'}}">
          <i class="fas fa-plus"></i> {{localize "RYF.Magic.AddEffect"}}
        </button>
      </div>

      <div class="effects-list">
        {{#each system.effects as |effect index|}}
        <div class="effect-item {{#if effect.collapsed}}collapsed{{/if}}" data-effect-index="{{index}}">
          <div class="effect-header">
            <button type="button" class="effect-collapse" data-effect-index="{{index}}">
              <i class="fas {{#if effect.collapsed}}fa-chevron-right{{else}}fa-chevron-down{{/if}}"></i>
            </button>
            <div class="effect-summary">
              <span class="effect-type {{effect.type}}">{{localize (concat "RYF.Magic.EffectTypes." (capitalize effect.type))}}</span>
              <span class="effect-target-summary">
                {{localize (concat "RYF.Magic.EffectTargets." (targetToPascalCase effect.target))}}
                {{#if effect.targetName}}
                  ({{effect.targetName}})
                {{/if}}
              </span>
              <span class="effect-modifier-summary">
                {{#if (gt effect.modifier 0)}}+{{/if}}{{effect.modifier}}
              </span>
            </div>
            <button type="button" class="effect-delete" data-effect-index="{{index}}" title="{{localize 'RYF.Delete'}}">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          <div class="effect-config" {{#if effect.collapsed}}style="display: none;"{{/if}}>
            {{> "systems/ryf3/templates/item/partials/effect-item.hbs" effect=effect index=index isCarismaEnabled=@root.isCarismaEnabled}}
          </div>
        </div>
        {{/each}}

        {{#unless system.effects.length}}
        <p class="no-effects">{{localize "RYF.Magic.NoEffects"}}</p>
        {{/unless}}
      </div>
    </div>

  </section>
</form>

